Contact information of major participants.

心叶 <yelloxing@gmail.com> <1276327934@qq.com>

-----------------------------------------------------
We will remove people who are no longer involved from the list above!